# Now You Code 4: Movie Goers Zipcode Lookup

The movie company has hired you to help them enhance their data set. They would like to know which **US State** each of the respondents in their movie goers survey comes from, and ask you to produce a list of states and a count of movie goers from that state.

The movie goers dataset `'NYC1-moviegoers.csv'` from NYC1 contains `'zip_code'` but not city and state.

We will load another pandas dataset, **the Zipcode Database** here: 
`'https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv'` This data set contains Zip codes with primary city, state and approximate location.

Your goal is to figure out how to use the `DataFrame.merge()` method to combine these two data sets on matching zip code values.
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html 

After you merge the dataset, then you can complete the task and provide a count of movie goers by state.

In [15]:
# import pandas
import pandas as pd

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

### Part 1: Load the movie goers dataset into a Pandas DataFrame

Write code to load the movie goers dataset (in csv format) into the variable `moviegoers` and then print the first few rows.

In [16]:
moviegoers=pd.read_csv('NYC1-moviegoers.csv')
moviegoers.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Part 2: Load the zip code database into a Pandas DataFrame

Write code to load the movie goers dataset (in csv format) into the variable `zipcodes` and then print the first few rows. 

The database (in csv format) can be found here: `'https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv'`  

**HINT:**  You must include the named argument `dtype={'Zipcode': object}` to the `read_csv()` method to force the `Zipcode` series to be the same type as in the `moviegoers` dataframe.

In [18]:
sh = pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv', dtype={'Zipcode':object})
sh

,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,00705,STANDARD,AIBONITO,PR,PRIMARY,18.14,-66.26,NA-US-PR-AIBONITO,False,NaN,NaN,NaN
1,00610,STANDARD,ANASCO,PR,PRIMARY,18.28,-67.14,NA-US-PR-ANASCO,False,NaN,NaN,NaN
2,00611,PO BOX,ANGELES,PR,PRIMARY,18.28,-66.79,NA-US-PR-ANGELES,False,NaN,NaN,NaN
3,00612,STANDARD,ARECIBO,PR,PRIMARY,18.45,-66.73,NA-US-PR-ARECIBO,False,NaN,NaN,NaN
4,00601,STANDARD,ADJUNTAS,PR,PRIMARY,18.16,-66.72,NA-US-PR-ADJUNTAS,False,NaN,NaN,NaN
5,00631,PO BOX,CASTANER,PR,PRIMARY,18.19,-66.82,NA-US-PR-CASTANER,False,NaN,NaN,NaN
6,00602,STANDARD,AGUADA,PR,PRIMARY,18.38,-67.18,NA-US-PR-AGUADA,False,NaN,NaN,NaN
7,00603,STANDARD,AGUADILLA,PR,PRIMARY,18.43,-67.15,NA-US-PR-AGUADILLA,False,NaN,NaN,NaN
8,00604,PO BOX,AGUADILLA,PR,PRIMARY,18.43,-67.15,NA-US-PR-AGUADILLA,False,NaN,NaN,NaN
9,00605,PO BOX,AGUADILLA,PR,PRIMARY,18.43,-67.15,NA-US-PR-AGUADILLA,False,NaN,NaN,NaN
10,00703,STANDARD,AGUAS BUENAS,PR,PRIMARY,18.25,-66.10,NA-US-PR-AGUAS BUENAS,False,NaN,NaN,NaN
11,00704,STANDARD,AGUIRRE,PR,PRIMARY,17.96,-66.22,NA-US-PR-AGUIRRE,False,NaN,NaN,NaN
12,07675,STANDARD,WESTWOOD,NJ,PRIMARY,40.98,-74.03,NA-US-NJ-WESTWOOD,False,13245.0,24083.0,1.089095e+09
13,07677,STANDARD,WOODCLIFF LAKE,NJ,PRIMARY,41.02,-74.05,NA-US-NJ-WOODCLIFF LAKE,False,2945.0,5471.0,3.254370e+08
14,07885,STANDARD,WHARTON,NJ,PRIMARY,40.89,-74.58,NA-US-NJ-WHARTON,False,5273.0,8999.0,2.408280e+08
15,07981,STANDARD,WHIPPANY,NJ,PRIMARY,40.82,-74.41,NA-US-NJ-WHIPPANY,False,4585.0,8057.0,2.920968e+08
16,07999,STANDARD,WHIPPANY,NJ,PRIMARY,40.82,-74.41,NA-US-NJ-WHIPPANY,False,NaN,NaN,NaN
17,08888,PO BOX,WHITEHOUSE,NJ,PRIMARY,40.62,-74.76,NA-US-NJ-WHITEHOUSE,False,NaN,NaN,NaN
18,08889,STANDARD,WHITEHOUSE STATION,NJ,PRIMARY,40.60,-74.76,NA-US-NJ-WHITEHOUSE STATION,False,4691.0,8570.0,4.013124e+08
19,07095,STANDARD,WOODBRIDGE,NJ,PRIMARY,40.55,-74.28,NA-US-NJ-WOODBRIDGE,False,10018.0,17272.0,5.283150e+08
20,07481,STANDARD,WYCKOFF,NJ,PRIMARY,40.99,-74.16,NA-US-NJ-WYCKOFF,False,8079.0,15208.0,8.962738e+08
21,10451,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,19434.0,31477.0,4.714469e+08
22,10452,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,33517.0,56277.0,7.235085e+08
23,10453,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,34152.0,57691.0,6.996118e+08
24,10454,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,13139.0,22387.0,2.731196e+08
25,10455,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,14914.0,25139.0,3.252742e+08
26,10456,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,34793.0,58750.0,7.329075e+08
27,10457,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,29023.0,48779.0,6.142731e+08
28,10458,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,29920.0,50085.0,6.934473e+08
29,10459,STANDARD,BRONX,NY,PRIMARY,40.84,-73.87,NA-US-NY-BRONX,False,17977.0,30434.0,4.140217e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
42492,97372,STANDARD,ROSE LODGE,OR,PRIMARY,45.01,-123.87,NA-US-OR-ROSE LODGE,True,NaN,NaN,NaN
42493,97425,PO BOX,CRESCENT LAKE,OR,PRIMARY,43.47,-121.92,NA-US-OR-CRESCENT LAKE,True,NaN,NaN,NaN
42494,97427,STANDARD,CULP CREEK,OR,PRIMARY,43.68,-122.79,NA-US-OR-CULP CREEK,True,NaN,NaN,NaN
42495,97428,PO BOX,CURTIN,OR,PRIMARY,43.74,-123.18,NA-US-OR-CURTIN,True,NaN,NaN,NaN
42496,97472,STANDARD,COTTAGE GROVE,OR,PRIMARY,43.79,-123.06,NA-US-OR-COTTAGE GROVE,True,NaN,NaN,NaN
42497,97482,STANDARD,THURSTON,OR,PRIMARY,44.05,-122.91,NA-US-OR-THURSTON,True,NaN,NaN,NaN
42498,98054,STANDARD,REDONDO,WA,PRIMARY,47.34,-122.32,NA-US-WA-REDONDO,True,NaN,NaN,NaN
42499,98151,UNIQUE,SEATTLE,WA,PRIMARY,47.60,-122.33,NA-US-WA-SEATTLE,True,NaN,NaN,NaN
42500,98171,STANDARD,SEATTLE,WA,PRIMARY,47.60,-122.33,NA-US-WA-SEATTLE,True,NaN,NaN,NaN
42501,98184,UNIQUE,SEATTLE,WA,PRIMARY,47.60,-122.33,NA-US-WA-SEATTLE,True,NaN,NaN,NaN
42502,98442,STANDARD,TACOMA,WA,PRIMARY,47.14,-122.43,NA-US-WA-TACOMA,True,NaN,NaN,NaN
42503,98450,UNIQUE,TACOMA,WA,PRIMARY,47.25,-122.44,NA-US-WA-TACOMA,True,NaN,NaN,NaN
42504,98455,UNIQUE,TACOMA,WA,PRIMARY,47.25,-122.44,NA-US-WA-TACOMA,True,NaN,NaN,NaN
42505,98460,UNIQUE,TACOMA,WA,PRIMARY,47.25,-122.44,NA-US-WA-TACOMA,True,NaN,NaN,NaN
42506,98477,UNIQUE,TACOMA,WA,PRIMARY,47.25,-122.44,NA-US-WA-TACOMA,True,NaN,NaN,NaN
42507,98492,STANDARD,TACOMA,WA,PRIMARY,47.12,-122.55,NA-US-WA-TACOMA,True,NaN,NaN,NaN
42508,98667,UNIQUE,VANCOUVER,WA,PRIMARY,45.63,-122.66,NA-US-WA-VANCOUVER,True,NaN,NaN,NaN
42509,98929,STANDARD,NACHES,WA,PRIMARY,46.74,-121.14,NA-US-WA-NACHES,True,NaN,NaN,NaN
42510,99165,STANDARD,PULLMAN,WA,PRIMARY,46.73,-117.17,NA-US-WA-PULLMAN,True,NaN,NaN,NaN
42511,99779,STANDARD,TOK,AK,PRIMARY,63.13,-142.53,NA-US-AK-TOK,True,NaN,NaN,NaN
42512,09300,MILITARY,APO,AE,PRIMARY,NaN,NaN,ME-IQ-CAMP BUCCA,True,NaN,NaN,NaN
42513,09303,MILITARY,APO,AE,PRIMARY,NaN,NaN,ME-BH-MCA BAHRAIN,True,NaN,NaN,NaN
42514,09379,MILITARY,FPO,AE,PRIMARY,NaN,NaN,ME-BH-FMC BAH CONTINGENCY - MANAMA,True,NaN,NaN,NaN
42515,96400,MILITARY,APO,AP,PRIMARY,NaN,NaN,AS-TH-COBRA GOLD BANGKOK,True,NaN,NaN,NaN
42516,96547,MILITARY,APO,AP,PRIMARY,NaN,NaN,AS-TH-BANGKOK,True,NaN,NaN,NaN
42517,34009,MILITARY,APO,AA,PRIMARY,NaN,NaN,SA-GY-NEW HORIZON-GUYANA,True,NaN,NaN,NaN
42518,34010,MILITARY,APO,AA,PRIMARY,NaN,NaN,CA-HN-NEW HORIZON LA CEIBA - COMAYAGUA,True,NaN,NaN,NaN
42519,34001,MILITARY,APO,AA,PRIMARY,NaN,NaN,CA-NI-JTF JUNTOS PODEMOS BASE CAMP,True,NaN,NaN,NaN
42520,34071,MILITARY,APO,AA,PRIMARY,NaN,NaN,SA-PY-JTF NEW HORIZON-CONCEPCION,True,NaN,NaN,NaN
42521,97475,PO BOX,SPRINGFIELD,OR,PRIMARY,44.05,-123.02,NA-US-OR-SPRINGFIELD,False,NaN,NaN,NaN

### Part 3: Merge both data sets into a single combined DataFrame

Next we must merge the `moviegoers` DataFrame with the `zipcodes` DataFrame. To do this you must specify which zip code column from `moviegoers` matches the zip cod column from `zipcodes` (as you can see they have different names).

```
Help on method merge in module pandas.core.frame:

merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False) method of pandas.core.frame.DataFrame instance
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.
```

The type of merge we will do is an `inner`, because we only want rows when the zip codes match. This is called an *intersection*.

To complete a merge we must specify the column names from the left and right DataFrames.  Most of the code has been written for you. Your task is to complete the columns for the merge, replacing `????` with the appropriate column names.

In [21]:
merged=moviegoers.merge(sh,how="inner",on=None,left_on='zip_code',right_on='Zipcode',left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
merged.head()

,user_id,age,gender,occupation,zip_code,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,1,24,M,technician,85711,85711,STANDARD,TUCSON,AZ,PRIMARY,32.21,-110.88,NA-US-AZ-TUCSON,False,17554.0,29028.0,5.068503e+08
1,415,39,M,educator,85711,85711,STANDARD,TUCSON,AZ,PRIMARY,32.21,-110.88,NA-US-AZ-TUCSON,False,17554.0,29028.0,5.068503e+08
2,2,53,F,other,94043,94043,STANDARD,MOUNTAIN VIEW,CA,PRIMARY,37.41,-122.05,NA-US-CA-MOUNTAIN VIEW,False,14062.0,22824.0,1.083207e+09
3,29,41,M,programmer,94043,94043,STANDARD,MOUNTAIN VIEW,CA,PRIMARY,37.41,-122.05,NA-US-CA-MOUNTAIN VIEW,False,14062.0,22824.0,1.083207e+09
4,105,24,M,engineer,94043,94043,STANDARD,MOUNTAIN VIEW,CA,PRIMARY,37.41,-122.05,NA-US-CA-MOUNTAIN VIEW,False,14062.0,22824.0,1.083207e+09

### Part 4: Merge both data sets into a single combined DataFrame

Finally, produce the desired output a list of states and counts of movie goers from the survey in each state.

Here's the top 5 for reference:

```
CA    116
MN     78
NY     60
TX     51
IL     50
```

In [23]:
merged_value=merged.State.value_counts()
merged_value.head()

CA    116
MN     78
NY     60
TX     51
IL     50
Name: State, dtype: int64