## Load the 7 day forecast from DarkSky.Net into Pandas!

In this example you will go back to https://api.darksky.net and use your API key to get the current weather forecast for:

Syrcause, NY `(lat=43.0481221, lng=-76.1474244)`

In the forecast output, find the daily 7 day forecast (it's the current conditions + 7 days out == 8 days total)

Extract the forecast data and load it into Pandas, then display the Time of the forecast, and high and low temperatures:

**HINT**: To get the times to show up in a human-readable format, you must convert the DarkSky API time (which is in unix timestamp format) to a Pandas Timestamp date/time format. The `pd.to_datetime()` function can help you:

```
time = 1489402800 # this the time format Darksky returns
readable_time = pd.to_datetime(time, unit='s') ## s stands for unix timestamp format
readable_time

Timestamp('2017-03-13 11:00:00')
```

Just replace the `['time']` column in the `DataFrame` with the new version.

In [ ]:
# Todo Write Plan Here
#get api 
#import requests
#get url and json
#output the data

In [2]:
# Todo write code here
import requests
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')
url='https://api.darksky.net/forecast/3038a571280c82aa87bc9ea715500d8c/43.0481221,-76.1474244'
response=requests.get(url)
weather=response.json()
daily=weather['daily']['data']
forecast=pd.DataFrame(daily)
time=forecast['time']
convert=pd.to_datetime(time,unit='s')
forecast['time']=convert
forecast[['time','temperatureMax','temperatureMin']]

                 time  temperatureMax  temperatureMin
0 2017-04-21 04:00:00           62.17           49.00
1 2017-04-22 04:00:00           53.81           40.39
2 2017-04-23 04:00:00           63.50           36.52
3 2017-04-24 04:00:00           65.95           37.37
4 2017-04-25 04:00:00           59.74           45.61
5 2017-04-26 04:00:00           79.12           50.28
6 2017-04-27 04:00:00           69.03           53.69
7 2017-04-28 04:00:00           75.50           52.54

In [19]:
# Here's my output from when I ran the solution, to give you an example of what I expect

                 time  temperatureMin  temperatureMax
0 2017-03-13 04:00:00            8.74           25.01
1 2017-03-14 04:00:00           17.85           25.42
2 2017-03-15 04:00:00           15.93           22.90
3 2017-03-16 04:00:00           17.23           29.19
4 2017-03-17 04:00:00           17.25           36.15
5 2017-03-18 04:00:00           26.74           38.07
6 2017-03-19 04:00:00           25.69           32.82
7 2017-03-20 04:00:00           13.76           37.08