## Now You Code 2: Syracuse Crime Data

In this second now you code you will explore the plot.ly engine in detail using Syracuse, NY FBI crime data.

In [1]:
import plotly.plotly as py    
import plotly.graph_objs as go  
import cufflinks as cf
import pandas as pd

In [2]:
crime = pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/crime/syracuse-crime-data-1985-2012.csv')
crime.sample(10)

,Year,Months,Population,Violent crime total,Murder and nonnegligent Manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Forcible rape rate,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate,Unnamed: 21
0,1985,12,164659,1013,12,80,551,370,11037,3741,...,615.2,7.3,48.6,334.6,224.7,6702.9,2272.0,4172.3,258.7,NaN
15,2000,12,147306,1565,18,47,452,1048,7565,1846,...,1062.4,12.2,31.9,306.8,711.4,5135.6,1253.2,3354.2,528.2,NaN
7,1992,12,165029,1512,13,85,645,769,10326,3023,...,916.2,7.9,51.5,390.8,466.0,6257.1,1831.8,4016.9,408.4,NaN
2,1987,12,161228,1158,14,87,494,563,12120,4721,...,718.2,8.7,54.0,306.4,349.2,7517.3,2928.2,4240.0,349.2,NaN
21,2006,12,142062,1515,12,66,534,903,6677,1904,...,1066.4,8.4,46.5,375.9,635.6,4700.1,1340.3,2841.7,518.1,NaN
23,2008,12,138211,1366,24,71,419,852,6165,1938,...,988.3,17.4,51.4,303.2,616.4,4460.6,1402.2,2695.2,363.2,NaN
18,2003,12,145411,1383,17,44,477,845,7773,1975,...,951.1,11.7,30.3,328.0,581.1,5345.5,1358.2,3171.7,815.6,NaN
10,1995,12,159603,1467,18,84,633,732,9873,3048,...,919.2,11.3,52.6,396.6,458.6,6186.0,1909.7,3779.4,496.9,NaN
19,2004,12,144278,1312,16,68,447,781,6609,1678,...,909.4,11.1,47.1,309.8,541.3,4580.7,1163.0,2628.3,789.4,NaN
5,1990,12,163860,1400,14,118,494,774,9914,2999,...,854.4,8.5,72.0,301.5,472.4,6050.3,1830.2,3860.6,359.5,NaN

In [ ]:
# Make a line plot of population over the years, using cufflinks crime.iplot()
# set the titles on x "Year, Y "Population" and cart title " Syracuse Population" 
# TODO: replace the ???? with appropriate values to render the chart
crime.iplot(kind = 'scatter', x = '????', y = '????', title='????',xTitle='????',yTitle='????')

In [ ]:
# Now plot the same thing using plot.ly without cufflinks, again filling in the templates. Using plot.ly takes more effort but
# you have more control / flexibility over how the plots are rendered.
plot_data = [
    go.Scatter(x=crime['????'], y=crime['????'], mode="lines+markers", name="????", marker=dict(color='red')),
]

py.iplot({ 'data': plot_data,
            'layout': {
               'title': '?????',
               'xaxis': {
                 'title': '???'},
               'yaxis': {
                'title': '???'}
        }})

In [ ]:
# Now create a line plot of "Robbery rate" versus "Motor vehicle theft rate" over time.
# NOTE: you will need two series in your plot_data

In [ ]:
# Finally write a program to ask for a crime metric like "Robbery" / "Burglary" / "Manslaughter" etc as input, 
# then renders a plot of that metric over time as output !
# Note: check to make sure the entered crime metric is in the list of Pandas columns before you attempt to plot. 
# It might be a good idea to print the column names before you plot.
# if it is not you should print "That is not a crime metric"